* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(255, 255, 255, 0.7);
    --header-color: #27BACE;
    --company-font: 'Righteous', cursive;
    --content-font: 'Poppins', sans-serif;
    --text-color: black;
    --text-size: 25px;
}

body {
    font-family: var(--content-font);
    height: calc(100vh - 8em);
    color: var(--text-color);
    background: url(../pictures/bg-log-in.png);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

a {
    color: var(--text-color);    
}

#bg-img {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

#company-name {
    font-family: var(--company-font);
    font-size: 2em;
    height: 3em;
    width: 100%;
    background-color: var(--header-color);
    color: var(--text-color);
    box-shadow: 0px 4px 8px black;
}
#company-name h1 {
    position: relative;
    width: 100%;
    text-align: center;
}

#log-in {
    display: flex;
    justify-content: top;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 60%;
    height: 100%;
    margin:  0.7em auto;
    border-radius: 10px;
    overflow-y: scroll;
}

#inputs {
    font-size: var(--text-size);
    font-weight: bold;
    margin: 2em;
    width: 50%;
}
#inputs input {
    width: 100%;
    height: 13%;
}

#log-in-btn {
    position: relative;
    margin-bottom: 3rem;
    top: 3rem;
    width: 70%;
    height: 4rem;
    font-size: var(--text-size);
    z-index: 1;
    background-color: #afafaf;
    border: none;
}
#log-in-btn a {
    text-decoration: none;
}
#log-in-btn::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--header-color);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s ease-in;
}
#log-in-btn:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}

#forgot-password {
    position: relative;
    color: #cb2222;
    width: 48%;
    bottom: 3em;
    text-align: right;
}